NEXT_PUBLIC_ENV=
NEXT_PUBLIC_WEB_URL=
NEXT_PUBLIC_DISCORD_INVITATION_URL=
NEXT_PUBLIC_DOWNLOAD_APP_IOS=
NEXT_PUBLIC_DOWNLOAD_APP_ANDROID=
NEXT_PUBLIC_BASE_PATH=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
AUTH_ISSUER=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
END_SESSION_URL=
REFRESH_TOKEN_URL=
HASURA_ADMIN_TOKEN=