NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WEB_URL=
NEXT_PUBLIC_MIX_PANEL_TOKEN=
NEXT_PUBLIC_SSE_INFERENCE_ENDPOINT=
NEXT_PUBLIC_BE_KEY=
NEXT_PUBLIC_UX_CAM_API_KEY=
NEXT_PUBLIC_CF_CLIENT_API_KEY=
NEXT_PUBLIC_CF_CLIENT_API_SECRET=
NEXT_PUBLIC_ACCOUNT_ID=
NEXT_PUBLIC_UX_CAM_ENABLED=
NEXT_PUBLIC_DISCORD_INVITATION_URL=
NEXT_PUBLIC_PRIVACY_POLICY_URL=
NEXT_PUBLIC_SUPPORT_URL=